@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sankofa+Display&display=swap');

body{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin: 0px;
}
header{
    display: flex;
    padding: 0px 60px;
}
header img{
    height: 58px;
    margin: 5px 0px;
}
.titulo{
    display: flex;
    align-items: center;
    margin: 0px 14px;
}
.titulo h1{
    margin: 0px;
}
.titulo h1 a{
    text-decoration: none;
    color: black;
}
/* --------------------------------------------- */
.introdução-da-galeria{
    color: white;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(img/Design\ sem\ nome.png );
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: black 0px 0px 10px;
}
#tittle-IntroduçãoDaGaleria{
    text-align: center;
    padding: 20px 86px;
    margin: 0px;
}
#text-introduction, #text-introduction2, #text-introduction3{
    padding: 0px 350px;
    font-size: 20px;
    text-align: center;
}
main{
    text-align: center;
    margin: 30px 50px;
}
.tittle-GaleriaDoVasco{
    text-align: left;
    margin: 20px 86px;
}
.foto{
    display: inline-block;
    margin: 0px 68px;
    border: solid rgb(0, 0, 0, 0.3) 1px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px;
    
}
.foto img{
    border-radius: 20px;
    height: auto;
    width: 220px;
    margin: 20px 23px;
    transition: 0.5s;
}
.foto img:hover{
    box-shadow: black 0px 0px 20px;
    transform: scale(1.02);
}
/* --------------------------------------------- */
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    color: white;
    background-color: black;
}
#icons {
    height: 50px;
}
#tittle-footer, #description-footer{
    font-size: 15px;
}